*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit';
    background: linear-gradient(#f9de85,#faf4cc);
}

.header-new{
    background-color:#c06d13;
    position: sticky;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;


        z-index: var(--z-fixed) ;
        transition: .4s;

}

.drought-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.drought-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.drought-left-title h2{
    font-weight: 600;
    color: #63410b;
    font-size: 40px;
    margin-bottom: 5px;
}
.drought-left-title hr{
    border: none;
    width: 145px;
    height: 5px;
    background-color: #63410b;
    border-radius: 10px;
    margin-bottom: 20px;
}
.drought-inputs{
    width: 400px;
    height: 50px;
    background-color: #fff;
    border: .01;
    border-color: #ecbb4c;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;
    border-radius: 50px;
}
.drought-inputs:focus{
    border: 2px solid #ff994f;
}
.drought-inputs::placeholder{
    color: #777;
    font-size: 14px;
}
.drought-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#ef971f,#f89155);
    cursor: pointer;
}
.drought-right video{
    width: 800px;
    border-radius: 15px;
}
@media (max-width:800px) {
    .drought-inputs{
        width: 80vw;
    }
}

.para{
    color: #000;
}


.footer__copy1,.footer__privacy1 a{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: #666;
}