*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Outfit';
    background: linear-gradient(#fae49b,#faf4cc);
}

.header-new{
    background-color:#da9b1a;
    position: sticky;

        position: fixed;
        top: 0;
        left: 0;
        width: 100%;


        z-index: var(--z-fixed) ;
        transition: .4s;

}

.earthquake-container{
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.earthquake-left{
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 20px;
}
.earthquake-left-title h2{
    font-weight: 600;
    color: #622704;
    font-size: 40px;
    margin-bottom: 5px;
}
.earthquake-left-title hr{
    border: none;
    width: 237px;
    height: 5px;
    background-color: #622704;
    border-radius: 10px;
    margin-bottom: 20px;
}
.earthquake-inputs{
    background-color: #fff;
    width: 400px;
    height: 50px;
    border: .1;
    border-color: #ecbb4c;
    outline: none;
    padding-left: 25px;
    font-weight: 500;
    color: #666;

    border-radius: 50px;
}

input{
    border-color:#ecbb4c;
}

.earthquake-inputs:focus{
    border: 2px solid #ff994f;
}
.earthquake-inputs::placeholder{
    color: #777;

    font-size: 14px;
}
.earthquake-left button{
    display: flex;
    align-items: center;
    padding: 15px 30px;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    gap: 10px;
    border: none;
    border-radius: 50px;
    background: linear-gradient(270deg,#f2aa47,#f18735);
    cursor: pointer;
}
.earthquake-right video{
    width: 800px;
    border-radius: 15px;
}
@media (max-width:800px) {
    .earthquake-inputs{
        width: 80vw;
    }
}

.para{
    color: #000;
}

.footer__copy1,.footer__privacy1 a{
    font-size: var(--smaller-font-size);
    font-weight: var(--font-medium);
    color: #666;
}